@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pittblue: #243e8b;
  --pittgold: #ffb81c;
}

.container {
  padding: 0 10px;
}

.bg-pittblue {
  --bg-opacity: 1;
  background-color: var(--pittblue);
}

.bg-pittgold {
  --bg-opacity: 1;
  background-color: var(--pittgold);
}
